#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

.formWrapper{
  color: black;
  background:#ffffff;
  padding: 20px;
  border-radius: 10px;
  font-weight: 600;
}
.footerText{

  position: fixed;
  bottom: 0;
  left: 50%;  
  
}

.inputGroup{
  display: flex;
  flex-direction: column;
}
.inputField{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  margin-bottom: 14px;
  background:#fee5e5;
  font-size: 1em;
  color: #000000;
  font-weight: 500;
}
.invitation-roomid-text{
  margin-bottom: 5px;
  display: flex;
  align-items: start;
  justify-content: start;
}
.createNewRoomLink{
  margin-top: 20px;
}

/* .homePageWrapper{
  text-align: center;
} */


.mainWrapper{
  
  display: flex;
    place-items: center;
    place-content: center;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 90vh;
    
}

.mainWrap{
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}

.leftPane{
  background:#1b1b1b;
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;
}

.leftPaneInner{
  flex: 1;
}

.clientsList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
}
.username{
  margin-top: 10px;
}
.logo{
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
}
.leaveBtn{
  margin-top: 10px;
}

.CodeMirror{
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}

.realTimeEditorTest{
width: 1654px;
height: 855px;
}
.logoImage{
  width: 220px;
}